main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20rem;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--lightgrey);
}

main h1 {
  margin: 10px;
  font-size: 2rem;
  font-weight: 500;
}

main span {
  color: var(--green);
}

main p {
  margin: 25px 0;
}

@media only screen and (min-width: 900px) {
  main {
    width: 800px;
  }
}
ul,
li {
  padding: 0;
  margin: 0;
}

.logo {
  margin: 20px 50px;
  font-size: 1.5rem;
}

header {
  display: flex;
  margin: 0 auto;
  width: 800px;
}

.wrapper {
  height: 100%;
}

nav {
  margin: 0 auto;
  width: 800px;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

#navbutton {
  width: 64px;
}

li {
  font-size: 14px;
  font-weight: 100;
  width: 150px;
  text-align: center;
  padding: 10px;
  margin: 10px 5px;
  list-style-type: none;
  background-color: var(--lightgrey);
  border-radius: 10px;
}

li a {
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  .nav-items {
    display: flex !important;
  }
  #navbutton {
    display: none !important;
  }
}
footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  margin: 20px;
}

.post {
  background-color: #333333;
}

.category-button {
  background-color: #ffffff;
  border: none;
}

.category-picker {
  border: 1px solid white;
  width: 500px;
  margin: auto;
}

.category-title {
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer; /* Geeft aan dat het klikbaar is */
}

.category-list {
  display: flex;
  flex-direction: column;
}

.category-item {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.category-item:hover {
  background-color: #f0f0f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul:where([role=list]),
ol:where([role=list]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --lightgrey: #e6e6e6;
  --lightblue: #94bac6;
  --grey: hsl(0, 0%, 20%);
  --darkgrey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

.portfolio-wrapper {
  width: 50rem;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: var(--darkgrey);
}

.portfolio-item {
  padding: 50px;
  margin: 50px;
  width: 20rem;
  background-color: var(--grey);
}

.blog-post {
  margin: 0 auto 50px;
  padding: 20px;
  width: 800px;
  background-color: var(--lightgrey);
}

.blog-post h1 {
  font-size: 2rem;
}

.blog-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-date {
  padding: 10px;
}

.blog-header-content {
  padding: 10px;
}

.blog-content {
  padding: 10px;
}

body {
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  min-height: 93vh;
  font-family: "Inter", sans-serif;
  background-color: var(--lightblue);
  color: var(--darkgrey);
}

a {
  color: var(--off-black);
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */