.blog-post {
  margin: 0 auto 50px;
  padding: 20px;
  width: 800px;
  background-color: var(--lightgrey);
}

.blog-post h1 {
  font-size: 2rem;
}

.blog-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-date {
  padding: 10px;
}

.blog-header-content {
  padding: 10px;
}

.blog-content {
  padding: 10px;
}
