.portfolio-wrapper {
  width: 50rem;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: var(--darkgrey);
}
.portfolio-item {
  padding: 50px;
  margin: 50px;
  width: 20rem;
  background-color: var(--grey);
}
