ul,
li {
  padding: 0;
  margin: 0;
}

.logo {
  margin: 20px 50px;
  font-size: 1.5rem;
}

header {
  display: flex;
  margin: 0 auto;
  width: 800px;
}

.wrapper {
  height: 100%;
}

nav {
  margin: 0 auto;
  width: 800px;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

#navbutton {
  width: 64px;
}

li {
  font-size: 14px;
  font-weight: 100;
  width: 150px;
  text-align: center;
  padding: 10px;
  margin: 10px 5px;
  list-style-type: none;
  background-color: var(--lightgrey);
  border-radius: 10px;
}

li a {
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  .nav-items {
    display: flex !important;
  }

  #navbutton {
    display: none !important;
  }
}
