:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --lightgrey: #e6e6e6;
  --lightblue: #94bac6;
  --grey: hsl(0, 0%, 20%);
  --darkgrey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}
